{% if checkout_data.result %}
✅ No blocking failures detected!
Full testing details: {{ dw_url }}/kcidb/checkouts/{{ checkout_data.checkout.misc.iid }}

{% else %}
{% extends "base.j2" %}
{% block greeting %}
❌ One or more blocking failures were encountered.
{% endblock %}

{% block head %}

{{ inc('failures') }}
Full testing details: {{ dw_url }}/kcidb/checkouts/{{ checkout_data.checkout.misc.iid }}
{% endblock %}
{% block tagging_instructions %}
{% endblock %}
{% block cki_logo %}
{% endblock %}
{% endif %}
